---
layout: page
title: Talks
background: '/img/bg-conference.jpg'
---

{% for conference in site.conferences reversed %}

<article class="conference-preview">

    <div>
        <a href="{{ conference.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="conference-title">
                {% if conference.lang == "en" %}
                <!-- Contenu en anglais -->
                🇬🇧
                {% elsif conference.lang == "fr" %}
                <!-- Contenu en français -->
                🇫🇷
                {% elsif conference.lang == "es" %}
                <!-- Contenu en espagnol -->
                {% else %}
                <!-- Contenu par défaut si aucune des options ci-dessus n'est vraie -->
                {% endif %}
                {{ conference.title }}
            </h2>
            {% if conference.author %}
            <h3 class="conference-subtitle">{{ conference.author }}</h3>
            {% else %}
            <h3 class="conference-subtitle">{{ conference.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
        </a>
        <p class="conference-meta">
            {{ conference.date | date: '%B %d, %Y' }}
        </p>
    </div>
</article>
{% else %}

<h2 class="conference-title">Coming soon...</h2>

{% endfor %}

