<!-- Footer -->

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          {% if site.email %}
          <li class="list-inline-item">
            <a class="social-icon" href="mailto:{{ site.email | encode_email }}" aria-label="Email">
              {% include icons/envelope.svg %}
            </a>
          </li>
          {% endif %}
          {% if site.linkedin_username %}
          <li class="list-inline-item">
            <a class="social-icon" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" aria-label="LinkedIn">
              {% include icons/linkedin.svg %}
            </a>
          </li>
          {% endif %}
          {% if site.bluesky_username %}
          <li class="list-inline-item">
            <a class="social-icon" href="https://bsky.app/profile/{{ site.bluesky_username }}" aria-label="Bluesky">
              {% include icons/bluesky.svg %}
            </a>
          </li>
          {% endif %}
          {% if site.github_username %}
          <li class="list-inline-item">
            <a class="social-icon" href="https://github.com/{{ site.github_username }}" aria-label="GitHub">
              {% include icons/github.svg %}
            </a>
          </li>
          {% endif %}
        </ul>
        <p class="copyright text-muted">Copyright &copy; {{ site.author }} {{ 'now' | date: "%Y" }}</p>
      </div>
    </div>
  </div>
</footer>
